
<div class="d-flex flex-row">
    <div class="">
        <%= render 'shared/left-nav'%>
    </div>
    <main class="d-flex flex-column main">
        <div>
            <%= render 'shared/top-nav'%>
        </div>
        <div class="main-content ">
            <p>Hey there</p>
        </div>
    </main>
</div>